body {
    background-color: #1e2a3d;
    color: white;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body p {
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 2em;
    font-size: 16px;
    color: white;
}

#headerSubheading {
    font-size: 20px;
}

#secondaryNav {
    position: absolute;
    background-color: rgb(7 9 10 / 57%); 
    border-radius: 5px;
}

#mainNav .navbar-nav > li.nav-item > a:focus, 
#mainNav .navbar-nav > li.nav-item > a:hover {
    color: rgba(28, 255, 255, 0.8);
    cursor: pointer;
}

#mainContainer {
    background-color: #101b2f;
    padding: 50px;
}

.game-link {
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;
    padding-right: 25px;
    padding-left: 25px;
}

.game-link:focus,
.game-link:hover {
    color: rgba(206, 39, 39, 0.8);
    cursor: pointer;
}

.about-link a {
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
    color: white;
}

.about-link a:focus,
.about-link a:hover {
    text-decoration: none;
    color: rgba(28, 255, 255, 0.8);
    cursor: pointer;
}

blockquote {
    font-family: 'Lora', 'Times New Roman', serif;
    font-style: italic;
    color: #868e96;
    background-color: #1e1e2e;
    padding-top: 15px;
    padding-right: 35px;
    padding-left: 35px;
    border-radius: 10px;
}

blockquote p {
    font-size: 16px;
    font-weight: 200;
    padding: 10px;
}

.blockquote-footer {
    padding: 0;
    margin: 0;
    padding-bottom: 25px;
}

.featurette-divider {
    background-color: rgb(255 255 255 / 50%);
}

.row.featurette {
    padding-bottom: 5rem; 
    padding-top: 5rem;
}

.game-heading {
    text-transform: uppercase;
    color: #f50013;
    padding-top: 2.5rem;
    padding-bottom: 5rem;
}


.col-6 img {
    width: 200%;
    height: 250px;
}

.img-banner {
    width: 100%;
    padding-top: 8rem;
    padding-bottom: 4rem;
    padding-right: 0;
    padding-left: 0;
    margin: 0;
}

.squad-heading a {
    color: white;
    font-weight: 800;
    cursor: pointer;
}

.squad-heading a:hover,
.squad-heading a:focus
 {
    color: rgba(28, 255, 255, 0.8);
    cursor: pointer;
}

.col-md-5 img {
    width: 75%;
}

.profile-img {
    border-radius: 50%;
}

#img-right {
    text-align: right;
}

iframe {
    display: block;
}

.member-video {
    padding-top: 0;
    padding-bottom: 5rem;
}

.info-box, table, h4, tr, td {
    width: 100%;
    background-color: #1e1e2e;
    font-size: 14px;
}

#info-box-title {
    font-size: 22px;
}

th {
    text-align: right;
    background-color: #223;
    padding-right: 15px;
    padding-left: 55px;
    padding-top: 5px;
    padding-bottom: 15px;
}

td {
    text-align: left;
    padding-left: 25px;
    padding-top: 5px;
    padding-bottom: 15px;
}

.flashes {
    list-style-type: none;
    background-color: rgb(7 9 10 / 57%);
    color: #f50013; 
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 1px;
    border-radius: 5px;
    padding: 15px;
}

.card {
    background-color: #1e1e2e;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.card-header {
    font-weight: 100;
    font-size: 18px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.225);
}

.card-title span {
    color: rgba(28, 255, 255, 0.8);
}

.btn-danger-custom {
    background-color: #ec5222; 
    border-color: #ec5222;
}

.btn-danger-custom:focus,
.btn-danger-custom:hover {
    background-color: #e2461f;
    border-color: #e2461f;
}

.card.profile-construction {
    background-color: #29293e;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.555);
}

.profile-construction .card-header {
    text-transform: uppercase;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 1px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.profile-construction label {
    font-style: italic;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 1.5px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}