{% extends "base.html" %}
{% block content %}

    <h3 class="text-center pb-5">Pick A Game</h3>

    <div class="row text-center">
        <div class="col-4">
            <a href="{{ url_for('mass_effect_1', username=session['user']) }}" class="btn btn-info">Mass Effect 1</a>
        </div>
        <div class="col-4">
            <a href="{{ url_for('mass_effect_2', username=session['user']) }}" class="btn btn-danger btn-danger-custom">Mass Effect 2</a>
        </div>
        <div class="col-4">
            <a href="{{ url_for('mass_effect_3', username=session['user']) }}" class="btn btn-danger">Mass Effect 3</a>
        </div>
    </div>


{% endblock %}