{% extends "base.html" %}
{% block content %}

    <h2 class="text-center pb-5">{{ page_title }}</h2>

    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">

            <form method="POST" action="{{ url_for('register') }}">
                <!-- Username -->
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        <label for="username">Username</label>
                        <input type="text" class="form-control text-center" placeholder="Username" name="username" id="username" 
                        minlength="5" maxlength="15" data-validation-required-message="Please enter a username." required>
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <!-- Email -->
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        <label for="email">Email Address</label>
                        <input type="email" class="form-control text-center" placeholder="Email Address" name="email" id="email"
                        minlength="5" maxlength="30" data-validation-required-message="Please enter your email address." required>
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <!-- Password -->
                <div class="control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <label for="password">Password</label>
                        <input type="tel" class="form-control text-center" placeholder="Password" name="password" id="password"
                        minlength="5" maxlength="15" data-validation-required-message="Please enter a password." required>
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <!-- Confirm Password -->
                <div class="control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <label for="confirmPassword">Password</label>
                        <input type="tel" class="form-control text-center" placeholder="Confrim Password" name="confirmPassword" id="confirmPassword"
                        minlength="5" maxlength="15" data-validation-required-message="Please confirm your password." required>
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <br>
                <div id="success"></div>
                <!-- Register -->
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary mx-auto"
                    >
                        Register
                    </button>
                </div>
            </form>

        </div>
    </div>

{% endblock %}