{% extends "base.html" %}
{% block content %}

    <h2 class="col-md-12 py-3 text-center">Commander {{ username }} Shepard</h2>

    <!-- If no data exisits -->
    <div class="row">
        <div class="col-12 text-center">
            <a href="{{ url_for('build_shepard', username=session['user']) }}" class="btn btn-danger my-5">Build Your
                Shepard Now</a>
        </div>
    </div>

    <!-- Else -->
    {% for shepard in mass_effect_1 %}
        {% if shepard.created_by == session["user"] %}
            <div class="card text-white mb-3 w-50 mx-auto text-center">
                <!-- Game Header -->
                <div class="card-header text-muted">
                    Mass Effect 1
                </div>
                <!-- Content Body -->
                <div class="card-body">
                    <!-- Name -->
                    <div class="card-title">
                        Commander <span>{{ shepard.created_by|capitalize }}</span> Shepard
                    </div>
                    <!-- Gender and Morality -->
                    <div class="card-subtitle text-muted pb-5">
                        {{ shepard.gender|capitalize }} <br>
                        Current Morality:
                    </div>
                    <div class="card-text">
                        <!-- Collapsible data -->
                        <div id="accordion">
                            <div class="card card-inner">
                                <div class="card-header" id="headingOne">
                                    <h5 class="mb-0">
                                        <!-- Reveal data -->
                                        <button class="btn btn-light" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                            aria-controls="collapseOne">
                                            Reveal Data
                                        </button>
                                    </h5>
                                </div>
                                <!-- Data -->
                                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                    <div class="card-body">
                                        <!-- Service history -->
                                        <div class="row">
                                            <div class="col-12 text-center">
                                                {{ shepard.service_history }}
                                            </div>
                                        </div>
                                        <!-- Psychological profile -->
                                        <div class="row">
                                            <div class="col-12 text-center">
                                                {{ shepard.psychological_profile }}
                                            </div>
                                        </div>
                                        <!-- Class -->
                                        <div class="row">
                                            <div class="col-12 text-center">
                                                {{ shepard.class }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Update -->
                        <div class="col-12 text-center">
                            <a href="{{ url_for('edit_1', shepard_id=shepard._id) }}" class="btn btn-info my-5">
                                Update Data
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}

    <hr class="featurette-divider">

{% endblock %}